[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/somrat"]
	path = themes/somrat
	url = https://github.com/somratpro/somrat.git
